### [그룹화 처리]
- 주제:    타이타닉에서 선실 등급에 따른 생존 비율 분석

In [1]:
import pandas as pd
import df_util as util

In [2]:
raw_DF = pd.read_csv('./titanic.csv')

In [3]:
util.checkDataFrame(raw_DF, 'raw_DF')

[raw_DF]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
==============================
[Index]        : RangeIndex(start=0, stop=891, step=1)
[Columns]      : Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
[NDim]         : 2
==============================

In [4]:
# 선실 등급 -> class
# 생존 여부 -> survived

In [5]:
class_survive = raw_DF.loc[:,('class','survived')].groupby('class')
class_survive

In [21]:
class_survive.count()

        survived
class
First        216
Second       184
Third        491

In [28]:
print( class_survive.count().iloc[0])
print()
print( class_survive.count().loc['First'])

survived    216
Name: First, dtype: int64

survived    216
Name: First, dtype: int64

In [6]:
class_survive.get_group('First')

     class  survived
1    First         1
3    First         1
6    First         0
11   First         1
23   First         1
..     ...       ...
871  First         1
872  First         0
879  First         1
887  First         1
889  First         1

[216 rows x 2 columns]

In [20]:
print(type(class_survive.get_group('First')))

<class 'pandas.core.frame.DataFrame'>

In [31]:
class_survive.get_group('First').value_counts()

class  survived
First  1           136
       0            80
Name: count, dtype: int64

In [32]:
class_survive.get_group('First').value_counts()[1]

C:\Users\KDP-43\AppData\Local\Temp\ipykernel_9900\1758954357.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  class_survive.get_group('First').value_counts()[1]

80

In [26]:
print(f'1등급 클래스 생존률:  {class_survive.get_group("First")["survived"].values.sum()/len( class_survive.get_group("First") )*100:4.2f}%')
print(f'2등급 클래스 생존률:  {class_survive.get_group("Second")["survived"].values.sum()/len( class_survive.get_group("Second") )*100:4.2f}%')
print(f'3등급 클래스 생존률:  {class_survive.get_group("Third")["survived"].values.sum()/len( class_survive.get_group("Third") )*100:4.2f}%')

1등급 클래스 생존률:  62.96%
2등급 클래스 생존률:  47.28%
3등급 클래스 생존률:  24.24%

In [ ]:
# whyrano....
for key in class_survive.groups.keys():
    print(f"{key}등급 클래스 생존률:  {class_survive.get_group(key)['survived'].values.sum()/class_survive.count()[key]*100:4.2f}%")

In [50]:
for key in class_survive.groups.keys():
    print(f"{class_survive.get_group(key)['survived'].values.sum()}")

136
87
119

In [49]:
for key in class_survive.groups.keys():
    print(f"{class_survive.count()[key]}")

KeyError: 'First'

In [17]:
class_survive.get_group('First').count()

class       216
survived    216
dtype: int64

In [51]:
class_survive.get_group('First').count()['class']

216

In [9]:
class_survive.groups.keys()

dict_keys(['First', 'Second', 'Third'])