### [그룹화 처리]
- Series/DF에 groupby() 메서드 사용
- Series/DF groupby object 반환

In [5]:
import pandas as pd

import df_util as util

In [2]:
file_name = './titanic.csv'
dataDF = pd.read_csv(file_name)

In [6]:
# 데이터 확인
util.checkDataFrame(dataDF, 'dataDF')

[dataDF]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
==============================
[Index]        : RangeIndex(start=0, stop=891, step=1)
[Columns]      : Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
[NDim]         : 2
==============================

In [39]:
type( dataDF['age'] )

pandas.core.series.Series

#### 분석 주제 ==> 성별에 따른 나이 분포

In [10]:
# 분석 컬럼 -> 성별, 나이
gender_age_DF = dataDF.loc[:, ['sex', 'age']]

# dataDF[['sex', 'age']]       --> 같은 결과

In [11]:
# 데이터 전처리
# 결측치 : isna(), isnull()
# 중복치 : duplicate()

gender_age_DF.isna().sum()

sex      0
age    177
dtype: int64

In [16]:
# 결측치 -> 성별에 따라 결측치를 치환

# 성별로 그룹 만들기
groupObj = gender_age_DF.groupby('sex')
groupObj

In [41]:
#  Groupby 객체 속성
#  속성 groups : Groupby에 속하는 인덱스 정보 Dict 형태 저장

print(groupObj.groups)
print("="*60)
print(groupObj.groups.keys())
print("="*60)
groupObj.groups.values()

{'female': [1, 2, 3, 8, 9, 10, 11, 14, 15, 18, 19, 22, 24, 25, 28, 31, 32, 38, 39, 40, 41, 43, 44, 47, 49, 52, 53, 56, 58, 61, 66, 68, 71, 79, 82, 84, 85, 88, 98, 100, 106, 109, 111, 113, 114, 119, 123, 128, 132, 133, 136, 140, 141, 142, 147, 151, 156, 161, 166, 167, 172, 177, 180, 184, 186, 190, 192, 194, 195, 198, 199, 205, 208, 211, 215, 216, 218, 229, 230, 233, 235, 237, 240, 241, 246, 247, 251, 254, 255, 256, 257, 258, 259, 264, 268, 269, 272, 274, 275, 276, ...], 'male': [0, 4, 5, 6, 7, 12, 13, 16, 17, 20, 21, 23, 26, 27, 29, 30, 33, 34, 35, 36, 37, 42, 45, 46, 48, 50, 51, 54, 55, 57, 59, 60, 62, 63, 64, 65, 67, 69, 70, 72, 73, 74, 75, 76, 77, 78, 80, 81, 83, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 101, 102, 103, 104, 105, 107, 108, 110, 112, 115, 116, 117, 118, 120, 121, 122, 124, 125, 126, 127, 129, 130, 131, 134, 135, 137, 138, 139, 143, 144, 145, 146, 148, 149, 150, 152, 153, 154, 155, ...]}
============================================================
dict_keys(['female', 'male'])
============================================================

dict_values([Index([  1,   2,   3,   8,   9,  10,  11,  14,  15,  18,
       ...
       866, 871, 874, 875, 879, 880, 882, 885, 887, 888],
      dtype='int64', length=314), Index([  0,   4,   5,   6,   7,  12,  13,  16,  17,  20,
       ...
       873, 876, 877, 878, 881, 883, 884, 886, 889, 890],
      dtype='int64', length=577)])

In [ ]:
#  Groupby 객체 속성
#  속성 indices : 각 그룹의 인덱스 정보 Dict 형태 저장
groupObj.indices

In [23]:
#  Groupby 객체 속성
#  메서드 get_group() : 그룹화된 그룹들 중 특정 그룹 데이터 읽기 메서드
#                     : DF 형태로 반환

groupObj.get_group('male')

      sex   age
0    male  22.0
4    male  35.0
5    male   NaN
6    male  54.0
7    male   2.0
..    ...   ...
883  male  28.0
884  male  25.0
886  male  27.0
889  male  26.0
890  male  32.0

[577 rows x 2 columns]

In [26]:
for key in groupObj.groups.keys():
    print(f'[{key}]')
    print(groupObj.get_group(key).ndim, groupObj.get_group(key).shape)
    print(groupObj.get_group(key).min(), groupObj.get_group(key).max())

[female]
2 (314, 2)
sex    female
age      0.75
dtype: object sex    female
age      63.0
dtype: object
[male]
2 (577, 2)
sex    male
age    0.42
dtype: object sex    male
age    80.0
dtype: object

In [40]:
groupObj.groups.keys()

dict_keys(['female', 'male'])

##### 그룹별 집계연산

In [27]:
# 그룹별 개수
print(groupObj.count())

        age
sex
female  261
male    453

In [29]:
# 그룹별 최대/최소
print(groupObj.min())
print()
print(groupObj.max())

         age
sex
female  0.75
male    0.42

         age
sex
female  63.0
male    80.0

In [33]:
# agg() - 선언한 이름에 해당하는 함수 기능 실행해서 결과를 1개의 DF에 반환 / 없는 함수는 사용자 선언
resultDF = groupObj.agg( ['min', 'max', 'mean', 'median', 'sum'])
resultDF

         age
         min   max       mean median       sum
sex
female  0.75  63.0  27.915709   27.0   7286.00
male    0.42  80.0  30.726645   29.0  13919.17

In [34]:
resultDF.columns

MultiIndex([('age',    'min'),
            ('age',    'max'),
            ('age',   'mean'),
            ('age', 'median'),
            ('age',    'sum')],
           )

In [38]:
# 추출

# 1개 컬럼
print(  resultDF.loc[:, ('age',    'min')] )                 # loc로 뽑으면 칼럼명은 Name에 !!
print( type(resultDF.loc[:, ('age',    'min')]))
print()

# 2개 컬럼
print( resultDF[ [('age',    'min'), ('age',    'max')]])
print( type(resultDF[ [('age',    'min'), ('age',    'max')]]))

sex
female    0.75
male      0.42
Name: (age, min), dtype: float64
<class 'pandas.core.series.Series'>

         age
         min   max
sex
female  0.75  63.0
male    0.42  80.0
<class 'pandas.core.frame.DataFrame'>

##### agg() w/ 사용자 정의 함수 지정

In [49]:
# agg() w/ 사용자 정의 함수 지정

def my_func(obj):
    print(f'타입:  {type(obj)} \n데이터: \n{obj.head(3)}')

In [50]:
groupObj.agg( ['count', my_func])

''' 
return 값이 없어서 None이 할당됨
'''

타입:  <class 'pandas.core.series.Series'>
데이터:
1    38.0
2    26.0
3    35.0
Name: age, dtype: float64
타입:  <class 'pandas.core.series.Series'>
데이터:
0    22.0
4    35.0
5     NaN
Name: age, dtype: float64

         age
       count my_func
sex
female   261    None
male     453    None

In [51]:
def my_func(obj):
    print(f'타입:  {type(obj)} \n데이터: \n{obj.head(3)}')

    return obj.max()

groupObj.agg( ['count', my_func])

''' 
return 값이 각 obj의 최대값이라 할당됨!
'''

타입:  <class 'pandas.core.series.Series'>
데이터:
1    38.0
2    26.0
3    35.0
Name: age, dtype: float64
타입:  <class 'pandas.core.series.Series'>
데이터:
0    22.0
4    35.0
5     NaN
Name: age, dtype: float64

         age
       count my_func
sex
female   261    63.0
male     453    80.0

In [53]:
# Lambda 함수!!
groupObj.agg( ['count', my_func, lambda x: x.mean()])

타입:  <class 'pandas.core.series.Series'>
데이터:
1    38.0
2    26.0
3    35.0
Name: age, dtype: float64
타입:  <class 'pandas.core.series.Series'>
데이터:
0    22.0
4    35.0
5     NaN
Name: age, dtype: float64

         age
       count my_func <lambda_0>
sex
female   261    63.0  27.915709
male     453    80.0  30.726645