### [멀티 인덱스]
- 2개 이상의 행과 열로 구성된 인덱스

In [2]:
# 모듈 로딩
import pandas as pd
import df_util as util

In [3]:
# 데이터 준비
file1 = './test_data.csv'
file2 = './test_data2.csv'

In [4]:
# 데이터 정보 확인
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

# DF 확인 w/ 개인 선언 함수 import
util.checkDataFrame(df1,'df1')
util.checkDataFrame(df2,'df2')

[df1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
==============================
[Index]        : RangeIndex(start=0, stop=10, step=1)
[Columns]      : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[NDim]         : 2
==============================

[df2]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lv0     5 non-null      object
 1   lv1     5 non-null      object
 2   lv2     5 non-null      object
 3   col1    5 non-null      int64
 4   col2    5 non-null      int64
 5   col3    5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 368.0+ bytes
==============================
[Index]        : RangeIndex(start=0, stop=5, step=1)
[Columns]      : Index(['lv0', 'lv1', 'lv2', 'col1', 'col2', 'col3'], dtype='object')
[NDim]         : 2
==============================

##### 행 인덱스 설정

In [5]:
# set_index( [col1, col2] ) - df1의 첫번째 컬럼을 행 인덱스로 설정

df11 = df1.set_index('index')
df11.index

# index.name 삭제
df11.index.name=None
df11.index

Index(['A', 'C', 'C', 'A', 'B', 'B', 'C', 'C', 'B', 'A'], dtype='object')

In [6]:
# 'A'행 데이터 추출
df11.loc['A']

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4

In [7]:
# 'A', 'C'행 추출
df11.loc[ ['A', 'C'] ]

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [23]:
# set_index( [col1, col2] ) - df1의 첫번째, 두번째 컬럼을 행 인덱스로 설정

df12 = df1.set_index(['index','col1'])
print(df12.index)

# index.names 첫번째 Level명 변경
print( df12.index.names )                # names는 property라 값 호출만 가능
df12.index.set_names('aaa', level=0)     # set_names() 메서드로 값 변경!

MultiIndex([('A', 8),
            ('C', 8),
            ('C', 8),
            ('A', 1),
            ('B', 2),
            ('B', 4),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 3)],
           names=['index', 'col1'])
['index', 'col1']

MultiIndex([('A', 8),
            ('C', 8),
            ('C', 8),
            ('A', 1),
            ('B', 2),
            ('B', 4),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 3)],
           names=['aaa', 'col1'])

In [9]:
# ('A', 8)행 추출
df12.loc[ ('A', 8) ]

C:\Users\KDP-43\AppData\Local\Temp\ipykernel_21396\1032687928.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[ ('A', 8) ]

            col2  col3
index col1
A     8        6     5

In [10]:
# ('A', 8), ('A', 1)행 추출
df12.loc[ [('A', 8), ('A', 1)] ]

            col2  col3
index col1
A     8        6     5
      1        8     7

##### 멀티 인덱스의 속성들 확인

In [11]:
mIdx = df12.index

print(f'nlevels   : {mIdx.nlevels}')
print(f'levels    : {mIdx.levels}')
print(f'names     : {mIdx.names}')

nlevels   : 2
levels    : [['A', 'B', 'C'], [1, 2, 3, 4, 5, 8]]
names     : ['index', 'col1']

In [12]:
# 멀티인덱스에서 level0가 동일한 행 추출
#  -'A'

df12.loc['A']

      col2  col3
col1
8        6     5
1        8     7
3        1     4

In [14]:
# 멀티인덱스에서 level1이 동일한 행 추출
#  - 8
# loc 속성은 level0만 처리 가능 / 그외 하위레벨 기준 추출은 DataFrame.xs() 메서드로! 

# df12.loc['8']   ==> ERROR!

df12.xs( 8, level=1)     # level1 == 8인 행 데이터 추출

       col2  col3
index
A         6     5
C         4     3
C         2     0
C         8     6

##### 멀티인덱스 DF에서 행 추가
- 일반 DF에서 행 추가:   DF명.loc[행인덱스] = 값<br><br>
- 멀티 DF에서 행 추가:   DF명.loc[ (level0, level1), :] = 값

In [16]:
# df12.loc[ ('D',9) ] = [9,9]         
#                            --> 'D'는 level0 인덱스로, 9는 컬럼명으로 생성됨

# df12.loc[ ('D', 9), : ] = [9,9]        
#                           --> ('D', 9)는 새로 선언되는 인덱스이기 때문에 중복값이 없어서 바로 [] 형태로 선언이 가능
df12

C:\Users\KDP-43\AppData\Local\Temp\ipykernel_21396\2331774672.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[ ('D', 9), : ] = [9,9]

            col2  col3
index col1
A     8      6.0   5.0
C     8      4.0   3.0
      8      2.0   0.0
A     1      8.0   7.0
B     2      0.0   7.0
      4      2.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     3      1.0   4.0
D     9      9.0   9.0

In [43]:
# # 시리즈 데이터 형태로 행추가
# df12.loc[ ('D', 10), :] = pd.Series( {'col2':10, 'col3':10})
# df12


sr1 = pd.Series( {'col2':10, 'col3':10} )      # 시리즈 ==> index: [col2, col3] / values: [10,10]
# sr1.index = ['D', 10]
df12.loc[('D', 11), :] = [sr1]                 

# [sr1] 이유
''' 
여기서는 ('C', 8)로 데이터를 호출하면 동일한 멀티인덱스를 가지는 데이터 [ [4,3], [2,0], [8,6] ] 로 반환됨!!

따라서  [[]] 형태로 df12는 값을 저장해서 반환하기 때문에 새로 선언할 때도 이 형태를 맞춰야 함!!

이를 맞춰주기 위해 sr1에 리스트를 씌우는 것!!
'''

C:\Users\KDP-43\AppData\Local\Temp\ipykernel_21396\270355489.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D', 11), :] = [sr1]

" \n여기서는 ('C', 8)로 데이터를 호출하면 동일한 멀티인덱스를 가지는 데이터 [ [4,3], [2,0], [8,6] ] 로 반환됨!!\n\n따라서  [[]] 형태로 df12는 값을 저장해서 반환하기 때문에 새로 선언할 때도 이 형태를 맞춰야 함!!\n\n이를 맞춰주기 위해 sr1에 리스트를 씌우는 것!!\n"

In [44]:
df12

            col2  col3
index col1
A     8      6.0   5.0
C     8      4.0   3.0
      8      2.0   0.0
A     1      8.0   7.0
B     2      0.0   7.0
      4      2.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     3      1.0   4.0
D     10    10.0  10.0
      11    10.0  10.0

In [47]:
df12.loc[('A', 4), :] = [sr1]

C:\Users\KDP-43\AppData\Local\Temp\ipykernel_21396\403721434.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('A', 4), :] = [sr1]

In [48]:
df12

            col2  col3
index col1
A     8     10.0  10.0
C     8      4.0   3.0
      8      2.0   0.0
A     1      8.0   7.0
B     2      0.0   7.0
      4      2.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     3      1.0   4.0
D     10    10.0  10.0
      11    10.0  10.0
A     4     10.0  10.0