In [40]:
import pandas as pd

In [41]:
file1 = './test_data3.csv'
df1 = pd.read_csv(file1)

In [42]:
df1

   index col1  col2  col3
0   2020   서울    10    20
1   2020   대구    11    22
2   2021   서울    10    20
3   2021   대구    11    22
4   2021   대구    12    23

In [43]:
# 데이터 추출

# 대구 관련 데이터만 추출

# 데이터양이 많을 때는 시간이 소요되는 방법!
daegu = df1['col1'] == '대구'              
df1[daegu]

   index col1  col2  col3
1   2020   대구    11    22
3   2021   대구    11    22
4   2021   대구    12    23

In [44]:
df1.loc[daegu]

   index col1  col2  col3
1   2020   대구    11    22
3   2021   대구    11    22
4   2021   대구    12    23

In [45]:
# 인덱스 속성 확인
print(df2.index)
print()
print(df2.values)

MultiIndex([(2020, '서울'),
            (2020, '대구'),
            (2021, '서울'),
            (2021, '대구'),
            (2021, '대구'),
            (2022,   ''),
            (2022, '울산'),
            (2022, '부산')],
           names=['index', 'col1'])

[[10. 20. nan]
 [ 9.  9. nan]
 [10. 20. nan]
 [ 3.  3. nan]
 [ 3.  3. nan]
 [nan nan  0.]
 [nan nan  0.]
 [ 0.  0.  0.]]

In [46]:
# index & col1 컬럼 행인덱스 변환

df2 = df1.set_index( ['index', 'col1'])
df2

            col2  col3
index col1
2020  서울      10    20
      대구      11    22
2021  서울      10    20
      대구      11    22
      대구      12    23

In [47]:
# 2020년 대구 데이터 추출
df2.loc[ (2020, '대구')]

C:\Users\KDP-43\AppData\Local\Temp\ipykernel_9856\800101031.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[ (2020, '대구')]

            col2  col3
index col1
2020  대구      11    22

In [48]:
# 2020년 대구 데이터 변경
df2.loc[ (2020, '대구')] = [9,9]
df2

C:\Users\KDP-43\AppData\Local\Temp\ipykernel_9856\595212614.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[ (2020, '대구')] = [9,9]

            col2  col3
index col1
2020  서울      10    20
      대구       9     9
2021  서울      10    20
      대구      11    22
      대구      12    23

In [49]:
# 2021년 대구 데이터 추출
df2.loc[(2021,'대구')]

C:\Users\KDP-43\AppData\Local\Temp\ipykernel_9856\3562358809.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2021,'대구')]

            col2  col3
index col1
2021  대구      11    22
      대구      12    23

In [50]:
# 2021년 대구 데이터 변경
df2.loc[(2021,'대구')] = [3,3]
df2

''' 
키가 똑같기 때문에 모든 행에 대해 [3,3]으로 값이 변경
'''

C:\Users\KDP-43\AppData\Local\Temp\ipykernel_9856\3871258360.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2021,'대구')] = [3,3]

' \n키가 똑같기 때문에 모든 행에 대해 [3,3]으로 값이 변경\n'

In [51]:
# 행 추가 => (년도, 지역명)
# df2.loc[ (2022, '부산') ] = 0

''' 
df2는 멀티 인덱스로 설정된 상태

따라서, 위와 같이 선언하면 2022는 level0, '부산'은 새로운 칼럼으로 인식해서 '부산'칼럼 생성 & 거기에 0이 할당됨
'''

C:\Users\KDP-43\AppData\Local\Temp\ipykernel_9856\4098700802.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[ (2022, '부산'),: ] = 0

" \ndf2는 멀티 인덱스로 설정된 상태\n\n따라서, 위와 같이 선언하면 2022는 level0, '부산'은 새로운 칼럼으로 인식해서 '부산'칼럼 생성 & 거기에 0이 할당됨\n"

In [52]:
df2.loc[ (2022, '부산'), : ] = 0
df2

            col2  col3
index col1
2020  서울    10.0  20.0
      대구     9.0   9.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0

In [53]:
df2.loc[ (2022, '마산'), : ] = [3,4]
df2

C:\Users\KDP-43\AppData\Local\Temp\ipykernel_9856\2834764195.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[ (2022, '마산'), : ] = [3,4]
C:\Users\KDP-43\AppData\Local\Temp\ipykernel_9856\2834764195.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[ (2022, '마산'), : ] = [3,4]

            col2  col3
index col1
2020  서울    10.0  20.0
      대구     9.0   9.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0
      마산     3.0   4.0

In [ ]:
# df2.loc[ (2022,'울산'), :] = pd.Series( {'col2':8, 'col3':8})

In [55]:
df2
''' 
(2022,'울산') 행은 새롭게 생성 but) Series 데이터가 각 컬럼에 할당 X

Series는 iterable 데이터가 아니기 때문에 에러문 'for loc in ilocs:' 에서 값을 찾을 수가 없어
할당이 되지 않음

따라서, 시리즈에 리스트 []를 씌워 iterable 데이터로 선언해야 함
'''

            col2  col3
index col1
2020  서울    10.0  20.0
      대구     9.0   9.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0
      마산     3.0   4.0
      울산     NaN   NaN

In [56]:
df2.loc[ (2022,'울산'), :] = [ pd.Series( {'col2':8, 'col3':8}) ]

C:\Users\KDP-43\AppData\Local\Temp\ipykernel_9856\881249674.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[ (2022,'울산'), :] = [ pd.Series( {'col2':8, 'col3':8}) ]

In [57]:
df2

            col2  col3
index col1
2020  서울    10.0  20.0
      대구     9.0   9.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0
      마산     3.0   4.0
      울산     8.0   8.0