### DataFrame에서 원소/요소 읽기
- 행 읽기 & 열 읽기
- 행과열이 교차하는 지점 원소/요소 읽기

In [1]:
# 모듈 로딩
import pandas as pd

In [2]:
# 데이터 준비
jumsu = [ [58,87,100], [67,82,79] ]

In [3]:
# 2D 데이터를  DF로 저장
df1 = pd.DataFrame(jumsu)
df1

    0   1    2
0  58  87  100
1  67  82   79

In [4]:
# 행 인덱스 & 열 인덱스 판다스 속성으로 지정

# 행 인덱스 -> 백예린, 아이유
# 열 인덱스 -> 음악, 영어, 무용

df1.index = ['백예린', '아이유']
df1.columns = ['음악', '영어', '무용']
df1

     음악  영어   무용
백예린  58  87  100
아이유  67  82   79

- [열/컬럼 선택]:       변수명[컬럼명/컬럼인덱스] / &nbsp; 변수명.컬럼명

In [6]:
# 영어 점수만 출력
df1["영어"] , type( df1["영어"])        # -> 튜플 형태로 출력

(백예린    87
 아이유    82
 Name: 영어, dtype: int64,
 pandas.core.series.Series)

In [7]:
# 무용 과목 점수만 출력
df1.무용

백예린    100
아이유     79
Name: 무용, dtype: int64

In [12]:
# 음악, 무용 컬럼 추출
df1[ ["음악","무용"] ]

     음악   무용
백예린  58  100
아이유  67   79

In [13]:
df1["음악":"무용"]              # ERROR!!

Empty DataFrame
Columns: [음악, 영어, 무용]
Index: []

In [ ]:
df1[0]
# 시리즈의 이름을 '열'의 이름으로 취급!!

In [16]:
print( df1.columns, df1.columns[1:], df1.columns[::2], sep="\n")

Index(['음악', '영어', '무용'], dtype='object')
Index(['영어', '무용'], dtype='object')
Index(['음악', '무용'], dtype='object')

- [행/row 선택]:       변수명.iloc[행인덱스] / &nbsp; 변수명.loc[행인덱스]

- iloc ==> int + loc의 준말 ==> 오직 정수 인덱스만 가능!!
-  loc ==> 정수가 아닌 행인덱스 가능!!

In [9]:
df1.iloc[0]

음악     58
영어     87
무용    100
Name: 백예린, dtype: int64

In [11]:
df1.loc["백예린"]

음악     58
영어     87
무용    100
Name: 백예린, dtype: int64

In [17]:
# 여러 개 행 추출
df1.loc[ ["백예린", "아이유"]]

     음악  영어   무용
백예린  58  87  100
아이유  67  82   79

In [19]:
print(f'{df1.index}, {df1.index[1:]}, {df1.index[::-1]}')

df1.loc[df1.index[::1]]

(Index(['백예린', '아이유'], dtype='object'),
 Index(['아이유'], dtype='object'),
 Index(['아이유', '백예린'], dtype='object'))

##### 원소/요소 추출
- 변수명.iloc[정수_인덱스][열인덱스] / 변수명.loc[열인덱스]

In [25]:
# 백예린님의 영어 점수만 추출
#     df1["김경태"]["영어"]        <== KeyError

print( df1.loc['백예린']['영어'],  df1.iloc[0]['영어'] )

print( df1.iloc[0][1])                       # <== treating keys as positions is deprecated.

C:\Users\KDP-43\AppData\Local\Temp\ipykernel_12928\3782541845.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1.loc['백예린']['영어'],  df1.iloc[0]['영어'],   df1.iloc[0][1]

(87, 87, 87)

##### 원소/요소 추출
- 변수명.iloc[정수_인덱스, 정수_인덱스] / 변수명.loc[행_인덱스, 열_인덱스]
- 변수명.iloc[정수_인덱스, 정수_인덱스:정수_인덱스] / 변수명.loc[행_인덱스, 열_인덱스:열_인덱스]

In [26]:
df1

     음악  영어   무용
백예린  58  87  100
아이유  67  82   79

In [27]:
df1.iloc[0,1]

87

In [28]:
df1.loc["백예린", "영어"]

87

In [36]:
# 백예린님의 영어, 무용 점수 추출
print( df1.iloc[0, [1,2] ],  "="*20, df1.loc["백예린", ["영어","무용"] ], sep="\n")

영어     87
무용    100
Name: 백예린, dtype: int64
====================
영어     87
무용    100
Name: 백예린, dtype: int64

In [37]:
df1.loc["백예린", "영어":"무용"]

영어     87
무용    100
Name: 백예린, dtype: int64

In [38]:
df1.loc["백예린", "영어":"무용":2]

영어    87
Name: 백예린, dtype: int64

In [39]:
df1.loc["백예린", :]

음악     58
영어     87
무용    100
Name: 백예린, dtype: int64

In [40]:
df1.loc[:, "무용"]

백예린    100
아이유     79
Name: 무용, dtype: int64