### [데이터 표준화]
- 수집된 데이터를 동일한 형태로 맞추는 과정
- 단위 변환, 자료형 변환

In [94]:
# 모듈 로딩
import pandas as pd

In [95]:
# 데이터 준비
file_name = './auto_mpg.csv'

In [96]:
# csv --> DF 형태로 저장
mpgDF = pd.read_csv(file_name)

In [97]:
# 데이터 확인 ( info() / describe() )

# info()  :  기본 정보 확인
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [98]:
# 컬럼 & 실제 데이터 타입 비교
print( mpgDF.head(), mpgDF.tail(), sep='\n\n')

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

      mpg  cylinders  displacement horsepower  weight  acceleration  \
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin         car name
393          82       1  ford mustang gl
394          82       2        vw pickup
395          82       1    dodge rampage
396          82       1      ford ranger
397          82       1       chevy s-10

In [99]:
# 컬럼별 데이터 분포 확인
mpgDF.describe(include='all')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
count,398.000000,398.000000,398.000000,398,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,150,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,NaN,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,NaN,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,NaN,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,NaN,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,NaN,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,NaN,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,NaN,5140.000000,24.800000,82.000000,3.000000,NaN

##### 데이터 전처리
* 결측치 체크 isna().sum()
* 중복데이터

In [100]:
# 1) 결측치 체크
mpgDF.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [101]:
# 2) 중복데이터
mpgDF.duplicated().sum()                              # 0-> 전체 DF에 중복 데이터 X

0

In [102]:
# mgp [mile/gallon] -> kpL[km/L] 단위 변환 & kpL 칼럼 추가

# 1 mpg = 0.42514 kpL

mpgDF['kpL'] = mpgDF['mpg'] * 0.42514
mpgDF

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,kpL
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,7.65252
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,6.37710
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,7.65252
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,6.80224
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,7.22738
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,11.47878
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,18.70616
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,13.60448
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,11.90392
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,13.17934

In [103]:
# astype() :  자료형 변환 표준화

# horsepower : object --> int
# mpgDF['horsepower'].astype(int)

# ValueError: invalid literal for int() with base 10: '?'

In [104]:
# '?' 처리
mpgDF['horsepower'].value_counts()

horsepower
150    22
90     20
88     19
110    18
100    17
       ..
61      1
93      1
148     1
152     1
82      1
Name: count, Length: 94, dtype: int64

In [105]:
mpgDF['horsepower'].value_counts()['?']           # 데이터 값이 인덱스!!

6

In [106]:
mpgDF[ mpgDF['horsepower']=='?' ].index           # horsepower==?인 데이터 행 인덱스

Index([32, 126, 330, 336, 354, 374], dtype='int64')

In [110]:
# replace() - 데이터 값 변경 메서드

# '?'를 결측치 처리 후 삭제 or 치환
import numpy as np
mpgDF.replace('?' ,np.nan, inplace=True)      # inplace=True 설정으로 원본 DF 수정

In [112]:
#mpgDF.horsepower.value_counts()['?']

In [113]:
mpgDF.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
kpL             0
dtype: int64

In [114]:
# horsepower = np.nan인 데이터 삭제
mpgDF2 = mpgDF.dropna().copy()
mpgDF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    object
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
 9   kpL           392 non-null    float64
dtypes: float64(4), int64(4), object(2)
memory usage: 33.7+ KB

In [115]:
# mpgDF2 horsepower 데이터 타입 변환
mpgDF2['horsepower'] = mpgDF2['horsepower'].astype('int64')


# SettingWithCopyWarning:   ==> 파이썬 복사 방법 때문에 보여주는 경고문   ==> copy()로 복사하면 해결됨

##### 컬럼별 데이터 특성에 따라 자료형 변환 표준화

In [122]:
# - 'cylinders' ==>  데이터 분류/그룹 가능  ==> 범주형
# - 'origin   ' ==>  데이터 분류/그룹 가능  ==> 범주형
mpgDF2['cylinders'] = mpgDF2['cylinders'].astype('category')
mpgDF2['origin'] = mpgDF2['origin'].astype('category')

In [123]:
mpgDF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    category
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    category
 8   car name      392 non-null    object
 9   kpL           392 non-null    float64
dtypes: category(2), float64(4), int64(3), object(1)
memory usage: 28.7+ KB

In [124]:
# cut() 메서드 : 데이터 범위에서 선언한 값에 따라 범주로 나누어 반환
#
# 예시) 
# horsepower ==> 저출력-일반출력-고출력 ==> 범주형 
pd.cut( mpgDF2['horsepower'], bins=3)

0      (107.333, 168.667]
1      (107.333, 168.667]
2      (107.333, 168.667]
3      (107.333, 168.667]
4      (107.333, 168.667]
              ...
393     (45.816, 107.333]
394     (45.816, 107.333]
395     (45.816, 107.333]
396     (45.816, 107.333]
397     (45.816, 107.333]
Name: horsepower, Length: 392, dtype: category
Categories (3, interval[float64, right]): [(45.816, 107.333] < (107.333, 168.667] < (168.667, 230.0]]

In [125]:
# Categories (3, interval[float64, right]): [(45.816, 107.333] < (107.333, 168.667] < (168.667, 230.0]]

print(mpgDF2['horsepower'].min(), mpgDF2['horsepower'].max() )
# 46 230
#        ==> (  ] 형태이기 때문에 최솟값을 포함하기 위해 min보다 작은 값부터 범위 시작

46 230

In [131]:
hp, retbins = pd.cut( mpgDF2['horsepower'], bins=3, 
       labels=['저출력','일반출력','고출력'],
       retbins=True)

hp
# 결과: Series

0      일반출력
1      일반출력
2      일반출력
3      일반출력
4      일반출력
       ...
393     저출력
394     저출력
395     저출력
396     저출력
397     저출력
Name: horsepower, Length: 392, dtype: category
Categories (3, object): ['저출력' < '일반출력' < '고출력']

In [128]:
mpgDF2['horsepower_range'] = hp

mpgDF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mpg               392 non-null    float64
 1   cylinders         392 non-null    category
 2   displacement      392 non-null    float64
 3   horsepower        392 non-null    int64
 4   weight            392 non-null    int64
 5   acceleration      392 non-null    float64
 6   model year        392 non-null    int64
 7   origin            392 non-null    category
 8   car name          392 non-null    object
 9   kpL               392 non-null    float64
 10  horsepower_range  392 non-null    category
dtypes: category(3), float64(4), int64(3), object(1)
memory usage: 29.2+ KB

##### [문자열 데이터를 분리 시키는 기능 => 컬럼 분리]
       # 조건) str 데이터여야
       # 형식) Series.str.메서드()

In [132]:
mpgDF2['car name']

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: car name, Length: 392, dtype: object

In [135]:
namesSR = mpgDF2['car name'].str.split()
namesSR.head(3)

0    [chevrolet, chevelle, malibu]
1            [buick, skylark, 320]
2            [plymouth, satellite]
Name: car name, dtype: object

In [139]:
mpgDF2['car name'].str.split().get(0)               # 0th 인덱스 데이터 추출

['chevrolet', 'chevelle', 'malibu']

In [137]:
mpgDF2['car name'].str.upper().str.split().head(3)

0    [CHEVROLET, CHEVELLE, MALIBU]
1            [BUICK, SKYLARK, 320]
2            [PLYMOUTH, SATELLITE]
Name: car name, dtype: object

In [140]:
# 나뉜 문자열을 하나씩 컬럼으로 분리

mpgDF2['car name'].str.split(expand=True)

             0          1       2     3     4     5
0    chevrolet   chevelle  malibu  None  None  None
1        buick    skylark     320  None  None  None
2     plymouth  satellite    None  None  None  None
3          amc      rebel     sst  None  None  None
4         ford     torino    None  None  None  None
..         ...        ...     ...   ...   ...   ...
393       ford    mustang      gl  None  None  None
394         vw     pickup    None  None  None  None
395      dodge    rampage    None  None  None  None
396       ford     ranger    None  None  None  None
397      chevy       s-10    None  None  None  None

[392 rows x 6 columns]

In [142]:
# 2번째 index 까지만 컬럼으로
namesDF = mpgDF2['car name'].str.split(expand=True, n=2)
namesDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       392 non-null    object
 1   1       390 non-null    object
 2   2       194 non-null    object
dtypes: object(3)
memory usage: 20.4+ KB

##### [DataFrame 연결 w/ concat()]
      * 함수: pd.concat( [df1, df2, ...] )
      * 행 방향 연결 시 인덱스 정리 필요      w.m) 원본 DF 인덱스 그대로 연결되기 때문에
      * 방법)    ignore_index = True 선언

In [145]:
df3 = pd.concat( [mpgDF2, namesDF] , axis=1)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mpg               392 non-null    float64
 1   cylinders         392 non-null    category
 2   displacement      392 non-null    float64
 3   horsepower        392 non-null    int64
 4   weight            392 non-null    int64
 5   acceleration      392 non-null    float64
 6   model year        392 non-null    int64
 7   origin            392 non-null    category
 8   car name          392 non-null    object
 9   kpL               392 non-null    float64
 10  horsepower_range  392 non-null    category
 11  0                 392 non-null    object
 12  1                 390 non-null    object
 13  2                 194 non-null    object
dtypes: category(3), float64(4), int64(3), object(4)
memory usage: 46.5+ KB

In [146]:
df4 = pd.concat( [mpgDF2, namesDF] )
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 784 entries, 0 to 397
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mpg               392 non-null    float64
 1   cylinders         392 non-null    category
 2   displacement      392 non-null    float64
 3   horsepower        392 non-null    float64
 4   weight            392 non-null    float64
 5   acceleration      392 non-null    float64
 6   model year        392 non-null    float64
 7   origin            392 non-null    category
 8   car name          392 non-null    object
 9   kpL               392 non-null    float64
 10  horsepower_range  392 non-null    category
 11  0                 392 non-null    object
 12  1                 390 non-null    object
 13  2                 194 non-null    object
dtypes: category(3), float64(7), object(4)
memory usage: 76.3+ KB

In [147]:
df4.tail(3)
# 인덱스가 700번대가 아닌 원본 DF 인덱스가 그대로!!    => ignore_index=True로 수정!!

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,kpL,horsepower_range,0,1,2
395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dodge,rampage,None
396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ford,ranger,None
397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chevy,s-10,None

In [148]:
df4 = pd.concat( [mpgDF2, namesDF], ignore_index=True )
df4.tail(3)

# 인덱스가 700번 대로 수정!!

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,kpL,horsepower_range,0,1,2
781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dodge,rampage,None
782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ford,ranger,None
783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chevy,s-10,None