### [데이터 필터링- Boolean Indexing]
- Series/DF에서 원하는 조건의 데이터만 추출하기 위한
- True & False로 구성된 데이터 ==> Index로써 사용
- not 연산: ~ <br>
~ True = False <br>
~ False = True
- isin():  값의 포함 여부 (T/F) 반환 /  DF['Column'].isin(values)

In [1]:
# 모듈 로딩
import pandas as pd

In [2]:
# 데이터 준비
data = {'name': ['마징가','배트맨', '홍길동'],
        'age':[25,31,19],
        'gender':['남','남','여']}

In [3]:
# Dict 데이터 ==> DF 형태로 저장
dataDF = pd.DataFrame(data)
print(dataDF)

  name  age gender
0  마징가   25      남
1  배트맨   31      남
2  홍길동   19      여

In [4]:
# 데이터 추출

# (1) 성별이 '남'인 데이터만 추출
dataDF[ dataDF['gender']=='남' ]

  name  age gender
0  마징가   25      남
1  배트맨   31      남

In [7]:
# (2) 성별=='남' & 20세 이상인 데이터만 추출

bool_idx = (dataDF['age']>=20) & (dataDF['gender']=='남')

In [8]:
dataDF[bool_idx]

  name  age gender
0  마징가   25      남
1  배트맨   31      남

In [9]:
# (3) 20세 이하 or 성별이 남자인 데이터만 추출
dataDF[ (dataDF['age'] <=20) | (dataDF['gender']=='남') ]

  name  age gender
0  마징가   25      남
1  배트맨   31      남
2  홍길동   19      여

In [12]:
# (4) 성별이 남자가 아닌 데이터만 추출
~(dataDF['gender'] == '남')

0    False
1    False
2     True
Name: gender, dtype: bool

0    False
1    False
2     True
Name: gender, dtype: bool