### [중복 데이터 처리]
- 중복 데이터 검사 후 처리 ==> 보통은 삭제
- [주의] 중복 데이터 모두 삭제는 X<br>
                * 데이터 특성 확인 후 결정

In [14]:
# 모듈 로딩
import pandas as pd

In [15]:
# 데이터 준비
file_name = './data.csv'

In [16]:
# csv ==> DF로 저장
csvDF = pd.read_csv(file_name)

In [17]:
# 데이터 확인
csvDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   no      6 non-null      int64
 1   name    5 non-null      object
 2   age     5 non-null      float64
 3   gnader  6 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 320.0+ bytes

In [18]:
# 칼럼별 타입과 실제 데이터 확인
print( csvDF.head(2), csvDF.tail(2), sep='\n\n')

   no  name   age gnader
0   1  Hong  10.0      M
1   2   NaN  13.0      F

   no name   age gnader
4   5  Han   NaN      M
5   3  Kim  12.0      M

In [19]:
# 데이터 전처리

In [20]:
# 결측치 처리
csvDF.dropna()

   no  name   age gnader
0   1  Hong  10.0      M
2   3   Kim  12.0      M
3   4   Lee  12.0      F
5   3   Kim  12.0      M

In [21]:
# duplicated() - 중복데이터 검사 (T/F)
# 옵션) keep   : 어느 것을 중복 데이터로 True 반환할지 설정
#              : 기본값= First (중복인 2번째 데이터부터 True) 
#              :  last-> 중복인 1st 데이터만 True 반환 / False-> 중복인 데이터 2개 다 True 반환 / 
csvDF.duplicated(keep='last')

0    False
1    False
2     True
3    False
4    False
5    False
dtype: bool

In [23]:
# drop_duplicates() - 중복 데이터인 행에 대해 삭제 처리
# keep 옵션은 똑같음
# subset 옵션 추가로 중복 여부 특정 칼럼들로만 정의할 수 있음
csvDF.drop_duplicates(keep=False)

   no  name   age gnader
0   1  Hong  10.0      M
1   2   NaN  13.0      F
3   4   Lee  12.0      F
4   5   Han   NaN      M

In [24]:
# 나이 컬럼 중복 여부 체크
csvDF.duplicated( subset=['age'])

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool