#### DataFrame: Dict 데이터로 DF 저장
- Dict이 Key가 Columns로 저장!

In [1]:
# 모듈 로딩
import pandas as pd

In [2]:
# 데이터 준비
jumsu = {'국어':[89,91], '수학':[88,90], '음악':[100,98] }

In [3]:
# DF으로 데이터 저장
df1 = pd.DataFrame(jumsu)

In [4]:
print(df1)

   국어  수학   음악
0  89  88  100
1  91  90   98

- 속성으로 행 Index 변경 -> 변수명.index = 새로운 index

- 속성으로 열 Index 변경 -> 변수명.columns = 새로운 columns

In [6]:
# 현재 0,1 인덱스 ==> '마징가', '홍길동'
df1.index = ['마징가', '홍길동']

In [7]:
df1

     국어  수학   음악
마징가  89  88  100
홍길동  91  90   98

In [9]:
# colum index ==> 
df1.columns = ['국어','미술','과학']
df1

     국어  미술   과학
마징가  89  88  100
홍길동  91  90   98