### 타이타닉 생존자 분석

* 지불 요금에 따른 생존 경향 (목숨을 돈으로 살 수 있는가)

* +) 결측치 과반수 이상 칼럼 제거

In [ ]:
import pandas as pd

In [ ]:
# 데이터 로드 & 체크
raw_titanic = pd.read_csv(r'C:\Users\KDP-43\Desktop\KDT_Pandas\과제\DATA\titanic.csv')
raw_titanic.info()

In [ ]:
# 칼럼 확인
raw_titanic.columns

In [ ]:
# titanic 결측치 확인
raw_titanic.isna().sum()

In [ ]:
# deck 칼럼 삭제
# 전체 891 데이터 중 과반수 이상인 688개 데이터가 결측이므로 삭제

titanicDF = raw_titanic.copy()
titanicDF = titanicDF.drop(axis=1, columns=['deck'])

In [ ]:
# age 칼럼 결측치 치환

# 남성 그룹 / 여성 그룹 / 어린이 그룹
# 그룹 별 나이 평균값으로 결측치 치환

titanicDF.loc[]

In [ ]:
# titanic DF 기술통계 check
raw_titanic.describe(include='all')

In [ ]:
# 범주형 데이터 칼럼 dtype ==> category 변경

# survived  ===> 0: 사망 / 1: 생존                         => 범주화
# pclass    ===> 1: 1등 객실 / 2: 2등 객실 / 3: 3등 객실    => 범주화

titanic_cat = raw_titanic.copy()
titanic_cat['survived'] = titanic_cat['survived'].astype('category')
titanic_cat['pclass'] = titanic_cat['pclass'].astype('category')

titanic_cat.info()

In [ ]:
titanic_cat.describe(include='all')

##### Q) 중복 데이터 어떤 기준?? / duplicated()에서 True 반환된 데이터들 상이함

In [ ]:
# 중복 검사
titanic_cat[ titanic_cat.duplicated() ].describe(include='all')

In [ ]:
titanic_cat[ titanic_cat.duplicated() ]

##### fare 요금에 따른 생존 경향

In [ ]:
# fare 데이터 체크
titanic_cat['fare'].value_counts()

In [ ]:
titanic_cat['fare'].describe()

In [ ]:
'''
극단적으로 fare가 작은 쪽으로 치우친 분포
'''

In [ ]:
# fare histogram
titanic_cat['fare'].plot.hist(bins=20, alpha=0.5)

In [ ]:
titanic_cat.plot.hist(column = ['fare'], by='alive', bins=20, alpha=0.5)

In [ ]:
titanic_cat['fare'].mean()

In [ ]:
titanic_cat['fare'].median()

##### fare 하위 50% - '저비용' &  상위 50% - '고비용' 그룹화에 따른 생존 경향성

In [ ]:
# fare 그룹 나누기 (fare 중위값 기준)

fare_50 = titanic_cat['fare'].median()

low_fare = titanic_cat['fare'] <= fare_50

import numpy as np
titanic_cat['fare_range'] = np.nan

titanic_cat.loc[low_fare, 'fare_range'] = 'Low_Fare'
titanic_cat.loc[~(low_fare), 'fare_range'] = 'High_Fare'

titanic_cat

In [ ]:
# 저비용 그룹의 생존 경향

low_fare_0 = sum( titanic_cat[low_fare]['survived'] == 0) / sum(titanic_cat['survived']==0) * 100
low_fare_1 = sum( titanic_cat[low_fare]['survived'] == 1) / sum(titanic_cat['survived']==1) * 100


# 고비용 그룹의 생존 경향

high_fare_0 = sum( titanic_cat[~(low_fare)]['survived'] == 0) / sum(titanic_cat['survived']==0) * 100
high_fare_1 = sum( titanic_cat[~(low_fare)]['survived'] == 1) / sum(titanic_cat['survived']==1) * 100


# print
print(f'fare가 {fare_50:4.2f} 이하인 저비용 그룹의 사망자 비율은 사망자 그룹의 {low_fare_0:4.2f}%')
print(f'fare가 {fare_50:4.2f} 이하인 저비용 그룹의 생존자 비율은 생존자 그룹의 {low_fare_1:4.2f}%')
print()
print(f'fare가 {fare_50:4.2f} 초과인 고비용 그룹의 사망자 비율은 사망자 그룹의 {high_fare_0:4.2f}%')
print(f'fare가 {fare_50:4.2f} 초과인 고비용 그룹의 생존자 비율은 생존자 그룹의 {high_fare_1:4.2f}%')

In [ ]:
''' 
fare가 높을수록 사망률보다 생존률이 더 증가하는 경향을 확인

저비용 그룹은 사망자 비율이 생존자 비율의 약 2배인 반면,
고비용 그룹은 생존자 비율이 사망자 비율의 약 1.7배

흥미로운 점은 fare가 낮은 그룹의 사망자 & 생존자 비율과
             fare가 높은 그룹의 생존자 & 사망자 비율이 서로 반대라는 점
         
'''

In [ ]:
# first class fare distribution
first_class = titanic_cat['class'] == 'First'
print(titanic_cat['fare'][first_class].describe())

In [ ]:
# second class fare distribution
second_class = titanic_cat['class'] == 'Second'
print(titanic_cat['fare'][second_class].describe())

In [ ]:
# third class fare distribution
third_class = titanic_cat['class'] == 'Third'
print(titanic_cat['fare'][third_class].describe())

In [ ]:
'''
같은 Class 범주 안에서도 fare 분포가 굉장히 넓음
'''

##### 번외) fare = 0인 Case

In [ ]:
# Fare가 0인 case 데이터 확인 -> 어린이??
fare_zero_idx = raw_titanic['fare']==0

fare_zero = raw_titanic[fare_zero_idx]
fare_zero.describe(include='all')

In [ ]:
fare_zero

In [ ]:
fare_zero.value_counts(dropna=False)

In [ ]:
'''
fare = 0인 승객은 영어린이 승객일 줄 알았는데, 15명 모두 'who'칼럼 & adult_male & sibsp & parch에서 무동행 1인 성인 남성임을 확인
   --> 무임승차....??? 초대권.....???? 직원.....????
                      --> class 분포:  1등석 5명 / 2등석 6명 / 3등석 4명  ==> 균등한 분포 ==> 타이타닉호 직원일 가능성!
                      --> 유일한 20대 1명 제외 모두 사망
                      --> 무임승차 사망 인원 14명 / 전체 사망 인원 549 (2%)
                      --> 무임승차 생존 인원 1명 / 전체 생존 인원  342 (0.2%)


---> 동일한 클래스 & 무동행 승객 & 성인 남성 그룹의 평균 나이 ==> age에 대입
---> 전체 승객 중 무동행 남성 승객 유형 비중은??
                    1등객 2등객 3등객
'''

##### fare_zero age NaN 대체값 치환
* 동일 클래스 & 무동행 & 성인 남성 그룹의 age mean

In [ ]:
# 성인 남성 & 객실별 & 무동행 승객 인덱스
first_alone_male = (titanic_cat['pclass']==1) & (titanic_cat['alone'] == True) & (titanic_cat['adult_male']==True) 
secon_alone_male = (titanic_cat['pclass']==2) & (titanic_cat['alone'] == True) & (titanic_cat['adult_male']==True) 
third_alone_male = (titanic_cat['pclass']==3) & (titanic_cat['alone'] == True) & (titanic_cat['adult_male']==True) 

# 성인 남성 & 객실별 & 무동행 승객 & age==결측값 인덱스
first_alone_male_na = (titanic_cat['pclass']==1) & (titanic_cat['alone'] == True) & (titanic_cat['adult_male']==True) & (titanic_cat['age'].isna())
secon_alone_male_na = (titanic_cat['pclass']==2) & (titanic_cat['alone'] == True) & (titanic_cat['adult_male']==True) & (titanic_cat['age'].isna())
third_alone_male_na = (titanic_cat['pclass']==3) & (titanic_cat['alone'] == True) & (titanic_cat['adult_male']==True) & (titanic_cat['age'].isna())

# age mean 치환
fare_zero_age_mean = titanic_cat.copy()

fare_zero_age_mean.loc[first_alone_male_na, 'age'] = titanic_cat.loc[first_alone_male,'age'].mean()
fare_zero_age_mean.loc[secon_alone_male_na, 'age'] = titanic_cat.loc[secon_alone_male, 'age'].mean()
fare_zero_age_mean.loc[third_alone_male_na, 'age'] = titanic_cat.loc[third_alone_male, 'age'].mean()

fare_zero_age_mean = fare_zero_age_mean[fare_zero_idx]
fare_zero_age_mean

In [ ]:
fare_zero_age_mean['age'].value_counts()

##### 번외) 칼럼 survived & alive 비교
* 결과: 서로 같은 값 공유

In [ ]:
tmp = titanic_cat.copy()

tmp['alive'] = titanic_cat['alive'].replace(["yes", "no"], [1,0])
tmp

In [ ]:
sum( raw_titanic['survived'] - tmp['alive'] )